<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guuidea.towersdk">

    <application
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name=".activity.ChangePwdActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AreaSearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>